In [1]:
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
path = '/data/examples/ibmxfet/'

file_dir = os.listdir(path)

In [3]:
file_dir

['profile.txt',
 'training.csv',
 'testing.csv',
 'behavior_sim.csv',
 'network_sim.csv',
 'usage_data.txt']

In [4]:
profile = pd.read_csv(path+file_dir[0])
training = pd.read_csv(path+file_dir[1])
testing = pd.read_csv(path+file_dir[2])
behavior = pd.read_csv(path+file_dir[3])
network_sim = pd.read_csv(path+file_dir[4])
usage_data = pd.read_csv(path+file_dir[5])

In [6]:
profile.head()

,USER_ID,SRV_TYPE_DESC,SUBSCR_STATUS_CODE,GENDER_CODE,P6M_AVG_NET_INV_AMT,AGE,TENURE,BILL_CITY_NAME,BILL_DISTRICT_NAME,SMS_PROM_IND,IMEI_TYPE,IMEI_MFG_NAME,IMEI_MKT_NAME,IMEI_SMART_OS_FLAG,Credit_IND,AGENCY_FLAG,Third_Party_Payment_IND,FLAT_RATE_4G_IND,P6M_AVG_DATA_USAGE_MB
0,1,4G,A,M,600~800,25~29,66,臺中市,北區,Y,Smart Phone,HTC,10,Android 6.0,N,N,N,Y,4466
1,2,4G,A,F,600~800,75~79,12,新北市,中和,N,Smart Phone,OPPO,R9s,Android 6.0,N,N,N,Y,4681
2,3,4G,A,F,1000~1200,35~39,39,宜蘭縣,五結,Y,Smart Phone,HTC,Desire 830,Android 5.1,Y,Y,Y,Y,4138
3,4,4G,A,M,1200~1400,40~44,21,臺北市,大安區,Y,Smart Phone,Apple,iPhone 6 Plus,iOS 8,Y,N,N,Y,21216
4,6,4G,A,F,1600~1800,25~29,55,嘉義縣,中埔,Y,Smart Phone,Apple,iPhone 6,iOS 8,N,N,N,Y,28655

In [40]:
le = LabelEncoder()

In [41]:
le.fit(profile['P6M_AVG_NET_INV_AMT'])
le.classes_
cost = le.transform(profile['P6M_AVG_NET_INV_AMT'])

In [42]:
le.fit(profile['AGE'])
le.classes_
age = le.transform(profile['AGE'])

In [43]:
le.fit(profile['TENURE'])
le.classes_
tenure = le.transform(profile['TENURE'])

In [44]:
le.fit(profile['IMEI_TYPE'])
le.classes_
device = le.transform(profile['IMEI_TYPE'])

In [45]:
le.fit(profile['IMEI_MFG_NAME'])
le.classes_
brand = le.transform(profile['IMEI_MFG_NAME'])

In [46]:
le.fit(profile['IMEI_MKT_NAME'])
le.classes_
brand_model = le.transform(profile['IMEI_MKT_NAME'])

In [47]:
gender = pd.get_dummies(profile['GENDER_CODE'])
city = pd.get_dummies(profile['BILL_CITY_NAME'])
sms = pd.get_dummies(profile['SMS_PROM_IND'])
credit = pd.get_dummies(profile['Credit_IND'])
agency = pd.get_dummies(profile['AGENCY_FLAG'])
_3rdpay = pd.get_dummies(profile['Third_Party_Payment_IND'])
_4gfull = pd.get_dummies(profile['FLAT_RATE_4G_IND'])
avg_usage = profile['P6M_AVG_DATA_USAGE_MB']

In [48]:
temp = pd.DataFrame()
append = temp.append([cost,age,tenure,device,brand,brand_model])
append = append.transpose()
append.columns = ['cost','age','tenure','device','brand','brand_model']

In [49]:
encoded_feature = pd.concat([profile['USER_ID'],gender,city,sms,credit,agency,_3rdpay,
                             _4gfull,avg_usage,append],axis=1)
encoded_feature.head()

,USER_ID,F,M,南投縣,嘉義市,嘉義縣,基隆市,宜蘭縣,屏東縣,彰化縣,...,Y,N,Y,P6M_AVG_DATA_USAGE_MB,cost,age,tenure,device,brand,brand_model
0,1,0,1,0,0,0,0,0,0,0,...,0,0,1,4466,17,1,64,2,7,2
1,2,1,0,0,0,0,0,0,0,0,...,0,0,1,4681,17,11,10,2,16,141
2,3,1,0,0,0,0,0,1,0,0,...,1,0,1,4138,1,3,37,2,7,34
3,4,0,1,0,0,0,0,0,0,0,...,0,0,1,21216,2,4,19,2,2,225
4,6,1,0,0,0,1,0,0,0,0,...,0,0,1,28655,4,1,53,2,2,224

In [50]:
usage_sum = usage_data.groupby('USER_ID',as_index=False).sum()
usage_sum.head()

   USER_ID  MO_CALL_DUR  MT_CALL_DUR  DATA_USG_MB
0        1         2412         6640      2787.69
1        2          741          866      3147.82
2        3          393           51      5376.46
3        4         3207         6616     12812.16
4        6          769           67     29411.16

In [51]:
with open('usage_sum','wb') as file:
    pickle.dump(usage_sum,file)

NameError: name 'pickle' is not defined

In [ ]:
call_out_usage = []
for i in range(len(usage_sum)):
    if usage_sum['MO_CALL_DUR'][i] < 10:
        call_out_usage.append(1)
    elif (usage_sum['MO_CALL_DUR'][i]>10)&(usage_sum['MO_CALL_DUR'][i]<60):
        call_out_usage.append(2)
    elif (usage_sum['MO_CALL_DUR'][i]>60)&(usage_sum['MO_CALL_DUR'][i]<180):
        call_out_usage.append(3)
    elif (usage_sum['MO_CALL_DUR'][i]>180)&(usage_sum['MO_CALL_DUR'][i]<300):
        call_out_usage.append(4)
    elif (usage_sum['MO_CALL_DUR'][i]>300)&(usage_sum['MO_CALL_DUR'][i]<500):
        call_out_usage.append(5)
    elif (usage_sum['MO_CALL_DUR'][i]>500)&(usage_sum['MO_CALL_DUR'][i]<750):
        call_out_usage.append(6)
    elif (usage_sum['MO_CALL_DUR'][i]>750)&(usage_sum['MO_CALL_DUR'][i]<1000):
        call_out_usage.append(7)
    elif (usage_sum['MO_CALL_DUR'][i]>1000)&(usage_sum['MO_CALL_DUR'][i]<1400):
        call_out_usage.append(8)
    elif (usage_sum['MO_CALL_DUR'][i]>1400)&(usage_sum['MO_CALL_DUR'][i]<2000):
        call_out_usage.append(9)
    elif (usage_sum['MO_CALL_DUR'][i]>2000)&(usage_sum['MO_CALL_DUR'][i]<4000):
        call_out_usage.append(10)
    else:
        call_out_usage.append(11)

In [52]:
call_in_usage = []
for i in range(len(usage_sum)):
    if usage_sum['MT_CALL_DUR'][i] < 20:
        call_in_usage.append(1)
    elif (usage_sum['MT_CALL_DUR'][i]>20)&(usage_sum['MT_CALL_DUR'][i]<90):
        call_in_usage.append(2)
    elif (usage_sum['MT_CALL_DUR'][i]>90)&(usage_sum['MT_CALL_DUR'][i]<180):
        call_in_usage.append(3)
    elif (usage_sum['MT_CALL_DUR'][i]>180)&(usage_sum['MT_CALL_DUR'][i]<320):
        call_in_usage.append(4)
    elif (usage_sum['MT_CALL_DUR'][i]>320)&(usage_sum['MT_CALL_DUR'][i]<550):
        call_in_usage.append(5)
    elif (usage_sum['MT_CALL_DUR'][i]>550)&(usage_sum['MT_CALL_DUR'][i]<800):
        call_in_usage.append(6)
    elif (usage_sum['MT_CALL_DUR'][i]>800)&(usage_sum['MT_CALL_DUR'][i]<1100):
        call_in_usage.append(7)
    elif (usage_sum['MT_CALL_DUR'][i]>1100)&(usage_sum['MT_CALL_DUR'][i]<1600):
        call_in_usage.append(8)
    elif (usage_sum['MT_CALL_DUR'][i]>1600)&(usage_sum['MT_CALL_DUR'][i]<2400):
        call_in_usage.append(9)
    elif (usage_sum['MT_CALL_DUR'][i]>2400)&(usage_sum['MT_CALL_DUR'][i]<4000):
        call_in_usage.append(10)
    else:
        call_in_usage.append(11)

In [53]:
data_usage = []
for i in range(len(usage_sum)):
    if usage_sum['DATA_USG_MB'][i] < 400:
        data_usage.append(1)
    elif (usage_sum['DATA_USG_MB'][i]>400)&(usage_sum['DATA_USG_MB'][i]<1000):
        data_usage.append(2)
    elif (usage_sum['DATA_USG_MB'][i]>1000)&(usage_sum['DATA_USG_MB'][i]<2000):
        data_usage.append(3)
    elif (usage_sum['DATA_USG_MB'][i]>2000)&(usage_sum['DATA_USG_MB'][i]<3200):
        data_usage.append(4)
    elif (usage_sum['DATA_USG_MB'][i]>3200)&(usage_sum['DATA_USG_MB'][i]<5000):
        data_usage.append(5)
    elif (usage_sum['DATA_USG_MB'][i]>5000)&(usage_sum['DATA_USG_MB'][i]<7200):
        data_usage.append(6)
    elif (usage_sum['DATA_USG_MB'][i]>7200)&(usage_sum['DATA_USG_MB'][i]<10000):
        data_usage.append(7)
    elif (usage_sum['DATA_USG_MB'][i]>10000)&(usage_sum['DATA_USG_MB'][i]<14000):
        data_usage.append(8)
    elif (usage_sum['DATA_USG_MB'][i]>14000)&(usage_sum['DATA_USG_MB'][i]<24000):
        data_usage.append(9)
    else:
        data_usage.append(10)

In [54]:
temp = pd.DataFrame()
append = temp.append([call_out_usage,call_in_usage,data_usage])
append = append.transpose()
append.columns = ['call_out_usage','call_in_usage','data_usage']

In [55]:
encoded_feature = pd.concat([encoded_feature,append],axis=1)
encoded_feature.head()

,USER_ID,F,M,南投縣,嘉義市,嘉義縣,基隆市,宜蘭縣,屏東縣,彰化縣,...,P6M_AVG_DATA_USAGE_MB,cost,age,tenure,device,brand,brand_model,call_out_usage,call_in_usage,data_usage
0,1,0,1,0,0,0,0,0,0,0,...,4466,17,1,64,2,7,2,10,11,4
1,2,1,0,0,0,0,0,0,0,0,...,4681,17,11,10,2,16,141,6,7,4
2,3,1,0,0,0,0,0,1,0,0,...,4138,1,3,37,2,7,34,5,2,6
3,4,0,1,0,0,0,0,0,0,0,...,21216,2,4,19,2,2,225,10,11,8
4,6,1,0,0,0,1,0,0,0,0,...,28655,4,1,53,2,2,224,7,2,10

In [56]:
lis = []
for name in range(len(encoded_feature.columns)):
    d = str(encoded_feature.columns[name]).replace('<','')
    lis.append(d)

In [57]:
encoded_feature.columns = lis

In [58]:
encoded_feature.head()

,USER_ID,F,M,南投縣,嘉義市,嘉義縣,基隆市,宜蘭縣,屏東縣,彰化縣,...,P6M_AVG_DATA_USAGE_MB,cost,age,tenure,device,brand,brand_model,call_out_usage,call_in_usage,data_usage
0,1,0,1,0,0,0,0,0,0,0,...,4466,17,1,64,2,7,2,10,11,4
1,2,1,0,0,0,0,0,0,0,0,...,4681,17,11,10,2,16,141,6,7,4
2,3,1,0,0,0,0,0,1,0,0,...,4138,1,3,37,2,7,34,5,2,6
3,4,0,1,0,0,0,0,0,0,0,...,21216,2,4,19,2,2,225,10,11,8
4,6,1,0,0,0,1,0,0,0,0,...,28655,4,1,53,2,2,224,7,2,10

In [60]:
training[training['USER_ID']==1]

    USER_ID        date         y
0         1  2018-03-03  0.488242
1         1  2018-03-04  0.481169
2         1  2018-03-05  0.015337
3         1  2018-03-06  0.022330
4         1  2018-03-07  0.019055
5         1  2018-03-08  0.017952
6         1  2018-03-09  0.019987
7         1  2018-03-10  0.431245
8         1  2018-03-11  0.046564
9         1  2018-03-12  0.460840
10        1  2018-03-13  0.040062
11        1  2018-03-14  0.188110
12        1  2018-03-15  0.021117

In [61]:
d = {}
for i in range(3001):
    d[i] = pd.DataFrame(training[training['USER_ID']==i])

In [62]:
for key in d:
    d[key] = d[key].reset_index()

In [63]:
df = pd.concat([d[key] for key in d], axis=1)
df = df.drop(['index','USER_ID'],axis=1)
df = df.dropna(axis=1)
df['DATE'] = df.iloc[:,0]
df = df.drop('date', axis=1)
df = df.transpose()
df.index = range(2629)
df.columns = df.iloc[2628]
df = df.reindex(df.index.drop(2628))
df.index = range(2628)

In [64]:
# # weekday: 週一~週五 weekend: 週六~週日
# weekday1 = df.iloc[:,2:7]
# weekday2 = df.iloc[:,9:13]
# weekday = pd.concat([weekday1,weekday2],axis=1)

# weekend1 = df.iloc[:,:2]
# weekend2 = df.iloc[:,7:9]
# weekend = pd.concat([weekend1, weekend2],axis=1)

# weekday.columns = ['2018-03-05','2018-03-06','2018-03-07','2018-03-08','2018-03-09','2018-03-12','2018-03-13','2018-03-14','2018-03-15']
# weekend.columns = ['2018-03-03','2018-03-04','2018-03-10','2018-03-11']

In [76]:
week1 = df.iloc[:,:6]
week2 = df.iloc[:,7:]

In [77]:
# # weekday: 週一~週四 weekend: 週五~週日
# weekday1 = df.iloc[:,2:6]
# weekday2 = df.iloc[:,9:13]
# weekday = pd.concat([weekday1,weekday2],axis=1)

# weekend1 = df.iloc[:,:2]
# weekend2 = df.iloc[:,6:9]
# weekend = pd.concat([weekend1, weekend2],axis=1)

# weekday.columns = ['2018-03-05','2018-03-06','2018-03-07','2018-03-08','2018-03-12','2018-03-13','2018-03-14','2018-03-15']
# weekend.columns = ['2018-03-03','2018-03-04','2018-03-09','2018-03-10','2018-03-11']

In [78]:
week1['med'] = week1.median(axis=1)
week2['med'] = week2.median(axis=1)
week1['mean'] = week1.mean(axis=1)
week2['mean'] = week2.mean(axis=1)
week1['max'] = week1.max(axis=1)
week2['max'] = week2.max(axis=1)
week1['min'] = week1.min(axis=1)
week2['min'] = week2.min(axis=1)
week1['25per'] = week1.quantile(.25,axis=1)
week2['25per'] = week2.quantile(.25,axis=1)
week1['75per'] = week1.quantile(.75,axis=1)
week2['75per'] = week2.quantile(.75,axis=1)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [80]:
week2

2628,2018-03-10,2018-03-11,2018-03-12,2018-03-13,2018-03-14,2018-03-15,med,mean,max,min,25per,75per
0,0.431245,0.0465645,0.46084,0.0400624,0.18811,0.0211169,0.117337,0.186468,0.460840,0.021117,0.093282,0.186468
1,0.0187458,0.0764715,0.375583,0.0621104,0.0357951,0.203902,0.069291,0.120271,0.375583,0.018746,0.056655,0.120271
2,0.0858309,0.0165351,0.138067,0.0884435,0.100995,0.365496,0.094719,0.127155,0.365496,0.016535,0.075173,0.127155
3,0.212154,0.0144216,0.113285,0.111387,0.0906392,0.078444,0.101013,0.103049,0.212154,0.014422,0.079365,0.103049
4,0.484287,0.12947,0.1511,0.15427,0.130922,0.0812661,0.141011,0.181761,0.484287,0.081266,0.126075,0.181761
5,0.077939,0.0655344,0.0625214,0.0652122,0.063273,0.0671887,0.065373,0.066720,0.077939,0.062521,0.064660,0.066720
6,0.00754007,0.00390879,0.00848387,0.22047,0.318307,0.376553,0.114477,0.149963,0.376553,0.003909,0.086835,0.149963
7,0.0417363,0.374435,0.00624949,0.04245,0.0426876,0.0421975,0.042324,0.084583,0.374435,0.006249,0.033305,0.084583
8,0.120017,1.08271,0.0725186,1.02885,0.0959698,0.137738,0.128877,0.380954,1.082708,0.072519,0.114787,0.380954
9,0.0260906,0.00450627,0.023631,0.0249797,0.0271835,0.025706,0.025343,0.022491,0.027184,0.004506,0.017995,0.025343
10,0.121764,0.0386191,0.0262585,0.0233802,0.0522044,0.0275612,0.033090,0.046125,0.121764,0.023380,0.030663,0.046125
11,0.0288659,0.124364,0.0954152,0.0193536,0.0284414,0.130205,0.062141,0.069827,0.130205,0.019354,0.051444,0.069827
12,0.158194,0.0350157,0.00623793,0.0790119,0.0734078,0.0792338,0.076210,0.072473,0.158194,0.006238,0.055914,0.076210
13,0.0843566,0.0332988,0.199032,0.0842562,0.0751895,0.0780367,0.081146,0.090759,0.199032,0.033299,0.069185,0.090759
14,0.365655,0.220908,0.170135,0.00467859,0.0233838,0.00368901,0.096759,0.126458,0.365655,0.003689,0.073492,0.126458
15,0.0967965,0.113214,0.00621244,0.00689611,2.73048,0.122338,0.105005,0.454421,2.730481,0.006212,0.080307,0.454421
16,0.132949,0.246416,0.2044,0.133741,0.132116,0.134676,0.134209,0.159787,0.246416,0.132116,0.133685,0.159787
17,0.0209447,0.00316251,0.00986243,0.0655909,0.0717747,0.0711012,0.043268,0.040815,0.071775,0.003163,0.031402,0.043268
18,0.0214747,0.107916,0.246963,0.00107497,0.001389,0.001373,0.011432,0.055946,0.246963,0.001075,0.008843,0.055946
19,0.00382771,0.256399,0.25785,0.134202,0.005906,0.01441,0.074306,0.106700,0.257850,0.003828,0.056686,0.106700
20,0.00778356,1.44747,0.0888481,0.00697796,0.0863563,0.00836745,0.047362,0.241881,1.447469,0.006978,0.037266,0.241881
21,1.13493,0.0162529,0.0419874,0.446581,1.24536,0.562633,0.504607,0.564621,1.245360,0.016253,0.382518,0.564621
22,0.00258593,0.00186852,0.0022876,0.00212146,0.0441116,0.00553575,0.002437,0.008707,0.044112,0.001869,0.002295,0.008707
23,0.0111366,0.00150691,0.0594888,0.0164779,0.00169908,0.0525905,0.013807,0.022387,0.059489,0.001507,0.010732,0.022387
24,0.00863294,0.0323475,0.0276603,0.0321086,0.0279404,0.0287504,0.028345,0.026541,0.032348,0.008633,0.022064,0.028345
25,0.0539904,0.076374,0.0563916,0.0741866,0.0797002,0.11909,0.075280,0.076430,0.119090,0.053990,0.069958,0.076430
26,0.0558701,0.0379614,0.0420504,0.0384983,0.0699986,0.0389177,0.040484,0.046254,0.069999,0.037961,0.039853,0.046254
27,0.0736513,0.643858,0.137244,0.053917,0.0320111,0.0237378,0.063784,0.146886,0.643858,0.023738,0.053773,0.146886
28,0.31125,0.040855,0.0276943,1.78072,0.479142,0.484206,0.395196,0.502723,1.780720,0.027694,0.303321,0.502723
29,0.150165,0.197295,0.115098,0.0418642,0.0555079,0.0632672,0.089183,0.101769,0.197295,0.041864,0.077353,0.101769
...,...,...,...,...,...,...,...,...,...,...,...,...
2598,0.0122934,0.0200628,0.0108858,0.0106811,0.0141163,0.0123418,0.012318,0.013243,0.020063,0.010681,0.011908,0.013243
2599,0.101037,0.101662,0.012689,0.0651325,0.119315,0.00697762,0.083085,0.069985,0.119315,0.006978,0.054233,0.083085
2600,0.115024,0.110881,0.174391,0.134763,0.0829995,0.10971,0.112953,0.120103,0.174391,0.082999,0.105464,0.120103
2601,0.0168973,0.256906,0.0712012,0.00996086,0.0465951,0.0103849,0.031746,0.063384,0.256906,0.009961,0.026300,0.063384
2602,0.0285235,0.189867,0.247521,0.0332124,0.0345137,0.0288316,0.033863,0.085190,0.247521,0.028524,0.032528,0.085190
2603,0.00422357,0.00365178,0.060325,0.0605404,0.0605101,0.00478028,0.032553,0.032369,0.060540,0.003652,0.025190,0.032553
2604,0.153904,0.196296,0.144807,0.0189864,0.00365144,0.147148,0.145977,0.115824,0.196296,0.003651,0.087781,0.145977
2605,0.166907,0.197044,0.0137893,0.0144224,0.00628298,0.0063616,0.014106,0.059845,0.197044,0.006283,0.012150,0.059845
2606,0.206205,0.115773,0.13227,0.187313,0.311069,0.172046,0.179680,0.186337,0.311069,0.115773,0.163703,0.186337
2607,0.0038765,0.0283798,0.0383301,0.0147459,0.020611,0.0128942,0.017678,0.019502,0.038330,0.003876,0.014228,0.019502
2608,0.212586,0.0444053,0.042867,0.0454499,0.0410268,0.0485075,0.044928,0.068539,0.212586,0.041027,0.043952,0.068539
2609,0.334295,0.35353,0.301825,0.362001,0.0520221,0.0675618,0.318060,0.255614,0.362001,0.052022,0.204716,0.318060
2610,0.00416895,0.146215,0.0488919,0.113428,0.00712485,0.0448347,0.046863,0.058790,0.146215,0.004169,0.036190,0.058790
2611,0.111504,2.28383,0.0424302,2.30631,0.0659967,0.0662566,0.088880,0.709315,2.306311,0.042430,0.077268,0.709315
2612,0.111574,0.0769046,0.0670725,0.0762585,0.030138,0.07983,0.076582,0.074051,0.111574,0.030138,0.063073,0.076582
2613,0.0018273,0.00162433,0.00151072,0.00143161,0.00130226,0.0010768,0.001471,0.001463,0.001827,0.001077,0.001367,0.001471
2614,0.0917484,0.0019546,0.00140898,0.107927,0.0039769,0.0178852,0.010931,0.033690,0.107927,0.001409,0.008551,0.033690
2615,0.0517944,0.00365178,0.00348889,0.0571254,0.0519973,0.0951254,0.051896,0.045011,0.095125,0.003489,0.034631,0.051896
2616,0.0983615,0.303809,0.125321,0.087064,0.0856004,0.0806892,0.092713,0.124794,0.303809,0.080689,0.089707,0.124794
2617,0.0489272,0.0509667,0.039636,0.0549133,0.0506319,0.045149,0.049780,0.048572,0.054913,0.039636,0.046338,0.049780
2618,0.0474139,1.46114,1.66502,1.65694,1.77477,1.77626,1.660981,1.434647,1.776260,0.047414,1.087839,1.660981
2619,2.42442,2.38043,0.0574455,0.0414014,0.0254551,0.041099,0.049423,0.717097,2.424423,0.025455,0.043431,0.717097
2620,0.399147,0.203938,0.206749,0.100059,0.157063,0.472876,0.205343,0.249311,0.472876,0.100059,0.179022,0.249311
2621,0.00150732,1.93183,0.00913844,0.0219526,0.00648772,0.00792109,0.008530,0.283910,1.931831,0.001507,0.006774,0.283910
2622,0.11432,0.0803551,0.22877,0.211782,0.106092,0.106185,0.110253,0.136822,0.228770,0.080355,0.102778,0.136822
2623,0.361267,0.358548,0.731472,0.357949,0.392507,0.290736,0.359908,0.407484,0.731472,0.290736,0.342615,0.407484
2624,0.368988,0.0666104,0.407344,0.0215194,0.290138,0.154827,0.222483,0.218844,0.407344,0.021519,0.169513,0.222483
2625,0.127262,0.435212,0.121713,0.269438,0.0793189,0.0577638,0.124488,0.173599,0.435212,0.057764,0.107807,0.173599
2626,0.0761357,0.0496309,0.115532,0.083993,0.118177,0.0753002,0.080064,0.085548,0.118177,0.049631,0.072456,0.085548
2627,0.0585524,0.0438829,0.0514364,0.0309716,0.0685253,0.0521197,0.051778,0.051038,0.068525,0.030972,0.046021,0.051778

In [81]:
encoded_feature.to_csv('encoded_feature.csv',index=None)
week1.to_csv('week1.csv',index=None)
week2.to_csv('week2.csv',index=None)
df.to_csv('date.csv',index=None)